@model Dao
<h2>Logowanie</h2>
<form method="post">
    <label for="email">Email</label>
    <input type="email" name="email">
    <hr>
    <label for="password">Hasło</label>
    <input type="password" name="password">

    <button type="submit">Login</button>
</form>
<a asp-action="Regiser">Zarejestruj się</a>